.spacing{
margin-top: 110px;
}

.founder-bg-color {
    background: linear-gradient(to bottom, #eaf8fb, #c3e2ec, #93c8e7);
    padding: 50px 0;
    border: none;
    color: #333;
}

.founder-img {
    border-radius: 140px;
}